* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "黑体", arial;
}

html {
    height: 100%;
    font-size: 12px;
}

:focus {
    outline: none;
}

button {
    color: white;
}

.hide {
    display: none;
}

html {
    height: 100%;
}

.Dialog,
.Confirm {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
    display: table;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 200;
}

.Dialog > div,
.Confirm > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    z-index: 200;
}

.Dialog > div > div,
.Confirm > div > div {
    background: #fff;
    padding: 2rem;
    width: 50rem;
    margin: 0 auto;
    color: #023e73;
    border-radius: 1rem;
    box-sizing: border-box;
    z-index: 200;
}

.Dialog > div > div button,
.Confirm > div > div button {
    display: inline-block;
    margin: 2rem 1rem 0 1rem;
    background: #FFC21C;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 0.5rem;
    z-index: 200;
}

#bgImage {
    background: url(img/bg.png) no-repeat; 
    position: absolute;
    z-index: -10;
}

#bgLuckyDrawEnd {
    background: url(img/bg.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#bgLuckyDrawEnd.bg {
    background: url(img/bgLight.png) no-repeat center center;
    -webkit-animation: lightAnimation 5s infinite linear;
    -moz-animation: lightAnimation 5s infinite linear;
    -o-animation: lightAnimation 5s infinite linear;
    animation: lightAnimation 5s infinite linear;
}

#iconDiv {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 800px;
    height: 300px;
    margin-left: -400px;
    z-index: 103;
}

#iconDiv > span {
    position: absolute;
}

#iconDiv > span:nth-child(1) {
    left: 126px;
    top: 169px;
}

#iconDiv > span:nth-child(2) {
    left: 210px;
    top: 103px;
}

#iconDiv > span:nth-child(3) {
    left: 292px;
    top: 25px;
}

#iconDiv > span:nth-child(4) {
    left: 432px;
    top: 54px;
}

#iconDiv > span:nth-child(5) {
    left: 545px;
    top: 107px;
}

#iconDiv > span:nth-child(6) {
    left: 561px;
    top: 163px;
}

@keyframes lightAnimation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes lightAnimation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

body {
    background: #c71f1f;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-align: center;
}

body > div {
    position: absolute;
    width: 1920px;
    height: 960px;
}

body > div > header {
    margin: 0 auto;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    text-align: center;
}

body > div > header > div {
    vertical-align: middle;
}

body > div > section {
    background: rgba(0, 0, 0, 0);
    width: 1558px;
    height: 84px;
    margin: 18px auto 0 auto;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

body > div > section > #result {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

body > div > section > #result > div {
    display: table-cell;
    vertical-align: middle;
    color: black;
}

body > div > section > #result > div > span {
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 14.28571%;
}

body > div > section > #result > div > span > b {
    color: #1D6DCD;
}

body > div > section > #result > div.p1 > span {
    width: 100%;
    font-size: 8rem;
}

body > div > section > #result > div.p2 > span {
    width: 50%;
    font-size: 4rem;
}

body > div > section > #result > div.p3 > span {
    width: 33.333333%;
    font-size: 3.5rem;
}

body > div > section > #result > div.p4 > span {
    width: 25%;
    font-size: 3rem;
}

body > div > section > #result > div.p5 > span,
body > div > section > #result > div.p6 > span,
body > div > section > #result > div.p7 > span,
body > div > section > #result > div.p8 > span,
body > div > section > #result > div.p9 > span,
body > div > section > #result > div.p10 > span {
    width: 25%;
    font-size: 2.5rem;
}

body > div > section > #result > div.p11 > span,
body > div > section > #result > div.p12 > span,
body > div > section > #result > div.p13 > span,
body > div > section > #result > div.p14 > span,
body > div > section > #result > div.p15 > span,
body > div > section > #result > div.p16 > span,
body > div > section > #result > div.p17 > span,
body > div > section > #result > div.p18 > span,
body > div > section > #result > div.p19 > span,
body > div > section > #result > div.p20 > span,
body > div > section > #result > div.p21 > span,
body > div > section > #result > div.p22 > span,
body > div > section > #result > div.p23 > span,
body > div > section > #result > div.p24 > span,
body > div > section > #result > div.p25 > span {
    width: 20%;
    font-size: 2rem;
}

body > div > footer {
    position: absolute;
    left: 32%;
    bottom: 18%;
    text-align: center;
    vertical-align: middle;
}

body > div > footer > div {
    vertical-align: middle;
    background: rgba(0, 0, 0, 0);
    margin-top: 100px;
    margin-left: 350px;
}


body > div > footer > div #rollingName {
    position: fixed;
    width: 250px;
    height: 60px;
    margin-left: -300px;
    margin-top: 0px;
}

body > div > footer > div #rollingName input {
    width: 95%;
    height: 95%;
    font-size: 5rem;
    padding: 1rem;
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
}


body > div > footer > div > button {
    background: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    height: 3rem;
    border-radius: 1rem;
}

body > div > footer > div > button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

body > div > footer > div > img#btnRoll {
    margin-top: 15px;
    margin-left: -5px;
    position:absolute;
    z-index: 102;
}

body > div > footer > div > button#btnStart {
    width: 221px;
    height: 100px;
    margin-right: 16px;
    color: white;
    background-color: #ff6159;
    border-width: 5px;
    border-color: black;
    font-size: 4rem;
    z-index: 101;
}

body > div > footer > div > button#btnCfg {
    width: 60px;
    height: 37px;
    background-color: #fd6f68;
    padding: 0;
    display: inline-block;
    font-size: 1rem;
}

body > div > footer > div > div#cfgPage {
    position: absolute;
    top: 5px;
    right: -280px;
    width: 350px;
    background-color: #fd6f68;
    border-radius: 10px;
}


#pageDevInfo{
    position: fixed;
    bottom: 0;
    right: 0.5%;
}

#imTitle{
    position: relative;
    top:10%;
}

.luckyBox{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background: url(img/lucky_box.png) no-repeat;
}

.luckySuffix {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.luckyName{
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px #bbbbbb;
}

.giftTitle{
    font-size: 3rem;
    -webkit-text-stroke: 2px rgb(255, 174, 0);
    text-shadow: 4px 4px #fd6f68;
}

#gift4{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

#gift3{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

#gift2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

#gift1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}